@using Alrazi.Tools
@model Student
@{
    ViewData["Title"] = "إضافة حالة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إضافة حالة</li>
                </ol>
            </div>
            <h4 class="page-title">إضافة حالة</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-3"> معلومات الحالة</h4>
                <form method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <label class="col-md-3 col-form-label" for="FirstName">الاسم الأول</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="col-md-3 col-form-label" for="LastName">الكنية</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="LastName" name="LastName" value="@Model.LastName">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="col-md-3 col-form-label" for="NationalityId">الجنسية</label>
                                    <div class="col-md-9">
                                        <select required class="form-control" id="NationalityId" name="NationalityId">
                                            @foreach (var item in ViewData["Nationalities"] as List<Nationality>)
                                            {
                                                @if (item.Id == Model.NationalityId)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row ">
                                <div class="col-4">
                                    <label class="col-md-3 col-form-label" for="StudyStateDate">تاريخ دراسة الحالة</label>
                                    <div class="col-md-9">
                                        <input type="date" required class="form-control" id="StudyStateDate" name="StudyStateDate" onblur="getAgeDateTime()" value="@DataTypeExtention.GetStringFromDate(Model.StudyStateDate)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="col-md-3 col-form-label" for="BirthDate">تاريخ الميلاد</label>
                                    <div class="col-md-9">
                                        <input type="date" required class="form-control" id="BirthDate" name="BirthDate" onblur="getAgeDateTime()" value="@DataTypeExtention.GetStringFromDate(Model.BirthDate)">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="col-md-3 col-form-label" for="AgeTimeDate">العمر الزمني</label>
                                    <div class="col-md-9">
                                        <input type="text" disabled class="form-control" id="AgeTimeDate" >
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="BirthPlace">مكان الميلاد</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="BirthPlace" name="BirthPlace" value="@Model.BirthPlace">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="IsMale">الجنس</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="IsMale" name="IsMale">
                                            @if (Model.IsMale)
                                            {
                                                <option selected value="True">ذكر</option>
                                                <option value="False">أنثى</option>
                                            }
                                            else
                                            {
                                                <option value="True">ذكر</option>
                                                <option selected value="False">أنثى</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="PhoneNumber">رقم الهاتف</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="Address">العنوان</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="Address" name="Address" value="@Model.Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="AccessChannelId">الجهة المحولة</label>
                                    <div class="col-md-9">
                                        <select required class="form-control" id="AccessChannelId" name="AccessChannelId">
                                            @foreach  (var item in ViewData["AccessChannels"] as List<AccessChannel>)
                                            {
                                                @if (item.Id == Model.AccessChannelId)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="AccessDate">تاريخ التحويل</label>
                                    <div class="col-md-9">
                                        <input type="date" required class="form-control" id="AccessDate" name="AccessDate" value="@DataTypeExtention.GetStringFromDate(Model.AccessDate)">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="DiagnosisNumber">هاتف الجهة المحولة</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="DiagnosisNumber" name="DiagnosisNumber" value="@Model.DiagnosisNumber">
                                    </div>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>

                            <div class="col-6">
                                <label class="col-md-3 col-form-label" for="DiagnosisId">تشخيص المحول</label>
                                <div class="col-md-9">
                                    <select required class="form-control" required id="DiagnosisId" name="DiagnosisId">
                                        @foreach (var item in ViewData["Diagnoses"] as List<Diagnosis>)
                                        {
                                            @if (item.Id == Model.DiagnosisId)
                                            {
                                                <option selected value="@item.Id">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="SchoolName">اسم المدرسة</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="SchoolName" name="SchoolName" value="@Model.SchoolName">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="col-md-3 col-form-label" for="Class">الصف</label>
                                    <div class="col-md-9">
                                        <input type="text" required class="form-control" id="Class" name="Class" value="@Model.Class">
                                    </div>
                                </div>
                            </div>


                            <div class="row ">
                                <div class="col-11">
                                    <label class="col-md-6 col-form-label" for="FamilyBio">ملخص المشكلة الحالة (نوعها وأعراضها) كما يرويها ولي الأمر</label>
                                    <textarea class="form-control" required id="FamilyBio" name="FamilyBio">@Model.FamilyBio</textarea>
                                </div>
                            </div>
                            <div style="padding-top:20px">
                                <button type="submit" class="btn btn-primary">التالي</button>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
<script>

    document.addEventListener('DOMContentLoaded', function () {
        getAgeDateTime();
    });

    function getAgeDateTime() {

        var birthDate = $("#BirthDate").val();
        var studyStateDate = $("#StudyStateDate").val();
        if (birthDate == '' || studyStateDate == '')
        {
            $("#AgeTimeDate").val('');
            return;
        }


        const birthdate = new Date(birthDate);
        const currentDate = new Date(studyStateDate);

        let ageYears = currentDate.getFullYear() - birthdate.getFullYear();
        let ageMonths = currentDate.getMonth() - birthdate.getMonth();
        let ageDays = currentDate.getDate() - birthdate.getDate();

        if (ageDays < 0) {
            ageMonths--;
            ageDays += new Date(currentDate.getFullYear(), currentDate.getMonth(), 0).getDate();
        }

        if (ageMonths < 0) {
            ageYears--;
            ageMonths += 12;
        }

        var str = `العام : ${ageYears} - الشهر : ${ageMonths} - اليوم ${ageDays}`;

        $("#AgeTimeDate").val(str);

    }

</script>