@using Alrazi.Enums.Test
@using Alrazi.Tools
@model Student
@{
    ViewData["Title"] = "إضافة اختبار ستانفورد بينيه للذكاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إضافة اختبار ستانفورد بينيه للذكاء</li>
                </ol>
            </div>
            <h4 class="page-title">إضافة اختبار ستانفورد بينيه للذكاء</h4>
        </div>
    </div>
</div>
<!-- end page title -->



<form method="post" class="card-body">

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">الاسم</label>
                <input type="text" class="form-control" value="@Model.FullName"  readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">الفاحص</label>
                <input type="text" required name="Examiner" class="form-control" placeholder="الفاحص">
            </div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">تاريخ الميلاد</label>
                <input type="date" id="BirthDate" class="form-control" value="@Model.BirthDate.ToString("yyyy-MM-dd")" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">تاريخ المقابلة</label>
                <input type="date" id="StudyStateDate" required name="TestDate" class="form-control" onchange="getAgeDateTime()" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">العمر الزمني</label>
                <input type="text" id="AgeTimeDate" class="form-control" readonly>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">

                <table class="table table-centered mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>الدرجة</th>
                            <th>الدرجة المعيارية</th>
                            <th>الفئة التصنيفية</th>
                            <th>الرتبة المئينية</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;
                            <input type="hidden" class="form-control" name="StudentId" value="@Model.Id" />

                            foreach (var item in Enum.GetValues<TestStanfordBinetSubject>())
                            {
                                <input type="hidden" class="form-control" name="TestStanfordBinetDetails[@index].TestStanfordBinetSubject" value="@item" />
                                <tr>
                                    <td>
                                        @TestManager.GetTestStanfordBinetSubjectArabic(item)
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="@("Mark"+index)" name="TestStanfordBinetDetails[@index].Mark" onchange="fillGrade(@index)" required />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="@("Grade"+index)" disapled readonly />
                                    </td>

                                    <td>
                                        <input type="text" class="form-control" name="TestStanfordBinetDetails[@index].PercentileRank" required />
                                    </td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
                <div style="padding-top:20px">
                    <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
                </div>

            </div>
        </div>
    </div>
</form>



<script>
    function fillGrade(index) {

        var mark = document.getElementById('Mark' + index).value;

        var grd;
        if (mark <= 39) grd = "تخلف شديد";
        else if (mark <= 54) grd = "تخلف متوسط";
        else if (mark <= 69) grd = "تخلف بسيط";
        else if (mark <= 79) grd = "على حدود التخلف";
        else if (mark <= 89) grd = "أدى من المتوسط ";
        else if (mark <= 109) grd = "متوسط";
        else if (mark <= 119) grd = "متوسط مرتفع";
        else grd = "متفوق";

        document.getElementById('Grade' + index).value = grd;
    }

   window.onload= getAgeDateTime;


        function getAgeDateTime() {
        var birthDate = $("#BirthDate").val();
        var studyStateDate = $("#StudyStateDate").val();
        if (birthDate == '' || studyStateDate == '')
        {
            $("#AgeTimeDate").val('');
            return;
        }

        const birthdate = new Date(birthDate);
        const currentDate = new Date(studyStateDate);

        let ageYears = currentDate.getFullYear() - birthdate.getFullYear();
        let ageMonths = currentDate.getMonth() - birthdate.getMonth();
        let ageDays = currentDate.getDate() - birthdate.getDate();

        if (ageDays < 0) {
            ageMonths--;
            ageDays += new Date(currentDate.getFullYear(), currentDate.getMonth(), 0).getDate();
        }

        if (ageMonths < 0) {
            ageYears--;
            ageMonths += 12;
        }

        var str = `السنة : ${ageYears} - الشهر : ${ageMonths} - اليوم ${ageDays}`;
           $("#AgeTimeDate").val(str);
        }
    </script>