@using Alrazi.Enums.Test
@using Alrazi.Models.Test
@using Alrazi.Tools
@using Alrazi.ViewModel
@model Student
@{
    ViewData["Title"] = "إضافة اختبار بورتج قائمة الشطب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إضافة اختبار بورتج قائمة الشطب</li>
                </ol>
            </div>
            <h4 class="page-title">إضافة اختبار بورتج قائمة الشطب</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">حدد رقم اختبار لإضافة قائمة الشطب</label>

            <select class="form-control" id="selecttest" onchange="location = this.value;">
                <option selected value="" disabled>غير محدد</option>
                @foreach (var item in Model.TestPortages)
                {
                    var val = "?studentId=" + item.StudentId + "&" + "testId=" + item.Id;
                    @if (ViewBag.selectedTestId == item.Id)
                    {
                        <option selected value="@val">@item.SerialNumber</option>
                    }
                    else
                    {
                        <option value="@val">@item.SerialNumber</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

@if (ViewBag.selectedTestId != 0)
{

    <form method="post" class="card-body">

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="name" class="form-label">اسم الطفل</label>
                    <input type="text" class="form-control" value="@Model.FullName" readonly>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="name" class="form-label">تاريخ الميلاد</label>
                    <input type="date" id="BirthDate" class="form-control" value="@Model.BirthDate.ToString("yyyy-MM-dd")" readonly>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="name" class="form-label">تاريخ المقابلة</label>
                    <input type="date" id="TestDateSkill" required name="TestPortageSkills[0].TestDateSkill" class="form-control" onchange="getAgeDateTime()" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="name" class="form-label">العمر الزمني</label>
                    <input type="text" id="AgeTimeDate" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th colspan="2">المجالات</th>
                                <th>الخام</th>
                                <th>العلامة</th>
                            </tr>
                        </thead>
                        <tbody>

                            <input type="hidden" name="Id" value="@ViewBag.selectedTestId" />

                            <tr>
                                <td rowspan="3">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Social)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Social_InteractWithOthers)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                 
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[0].TestPortage_Skill" value="@TestPortage_Skill.Social_InteractWithOthers" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[0].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Social_Emotionalskills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[1].TestPortage_Skill" value="@TestPortage_Skill.Social_Emotionalskills" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[1].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Social_InteractWithGames)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[2].TestPortage_Skill" value="@TestPortage_Skill.Social_InteractWithGames" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[2].Mark" required />
                                </td>
                            </tr>


                            <tr>
                                <td rowspan="2">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Knowledge)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Knowledge_SensorySkills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[3].TestPortage_Skill" value="@TestPortage_Skill.Knowledge_SensorySkills" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[3].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Knowledge_ExploreAndThink)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[4].TestPortage_Skill" value="@TestPortage_Skill.Knowledge_ExploreAndThink" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[4].Mark" required />
                                </td>
                            </tr>

                            <tr>
                                <td rowspan="2">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Communication)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Communication_CommunicationAndLanguage)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[5].TestPortage_Skill" value="@TestPortage_Skill.Communication_CommunicationAndLanguage" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[5].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Communication_EarlyReading)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[6].TestPortage_Skill" value="@TestPortage_Skill.Communication_EarlyReading" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[6].Mark" required />
                                </td>
                            </tr>

                            <tr>
                                <td rowspan="3">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Care)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Care_Nutrition)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[7].TestPortage_Skill" value="@TestPortage_Skill.Care_Nutrition" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[7].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Care_Cleanliness)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[8].TestPortage_Skill" value="@TestPortage_Skill.Care_Cleanliness" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[8].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Care_GettingDressed)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[9].TestPortage_Skill" value="@TestPortage_Skill.Care_GettingDressed" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[9].Mark" required />
                                </td>
                            </tr>

                            <tr>
                                <td rowspan="3">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Movement)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Movement_MajourSkills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[10].TestPortage_Skill" value="@TestPortage_Skill.Movement_MajourSkills" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[10].Mark" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Movement_MicroSkills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[11].TestPortage_Skill" value="@TestPortage_Skill.Movement_MicroSkills" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[11].Mark" required />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Movement_PreWriting)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    <input type="hidden" name="TestPortageSkills[0].TestPortageSkillDetalis[12].TestPortage_Skill" value="@TestPortage_Skill.Movement_PreWriting" />
                                    <input type="text" class="form-control" name="TestPortageSkills[0].TestPortageSkillDetalis[12].Mark" required />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div style="padding-top:20px">
                        <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

}


<script>

    window.onload = getAgeDateTime;

    function getAgeDateTime() {
        var birthDate = $("#BirthDate").val();
        var studyStateDate = $("#TestDateSkill").val();
        if (birthDate == '' || studyStateDate == '') {
            $("#AgeTimeDate").val('');
            return;
        }

        const birthdate = new Date(birthDate);
        const currentDate = new Date(studyStateDate);

        let ageYears = currentDate.getFullYear() - birthdate.getFullYear();
        let ageMonths = currentDate.getMonth() - birthdate.getMonth();
        let ageDays = currentDate.getDate() - birthdate.getDate();

        if (ageDays < 0) {
            ageMonths--;
            ageDays += new Date(currentDate.getFullYear(), currentDate.getMonth(), 0).getDate();
        }

        if (ageMonths < 0) {
            ageYears--;
            ageMonths += 12;
        }

        var str = `السنة : ${ageYears} - الشهر : ${ageMonths} - اليوم ${ageDays}`;
        $("#AgeTimeDate").val(str);
    }
</script>