@using Alrazi.Enums.Test
@using Alrazi.Tools
@{
    ViewData["Title"] = "إضافة اختبار بورتج";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إضافة اختبار بورتج</li>
                </ol>
            </div>
            <h4 class="page-title">إضافة اختبار بورتج</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<form method="post" class="card-body">

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">الفاحص</label>
                <input type="text" required name="Examiner" class="form-control" placeholder="الفاحص">
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">مرفق بالاختبار</label>
                <input type="text" required name="Attendant" class="form-control" placeholder="مرفق بالاختبار">
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">تاريخ المقابلة</label>
                <input type="date" required name="TestDate" class="form-control" placeholder="تاريخ المقابلة" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">

                <table class="table table-centered mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>المجالات</th>
                            <th>القاعدي</th>
                            <th>الاضافي</th>
                            <th>النمائي</th>
                            <th>نسبة الأداء</th>
                            <th>مستوى الأداء</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;
                                        <input type="hidden" class="form-control" name="StudentId" value="@ViewBag.stdId" />

                            foreach (var item in Enum.GetValues<TestPortageSubject>())
                            {
                                            <input type="hidden" class="form-control" name="TestPortageDetails[@index].TestPortageSubject" value="@item" />
                                            <tr>
                                                <td>
                                                    @TestManager.GetTestPortageSubjectArabic(item)
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="TestPortageDetails[@index].AgeTheBase" required />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="TestPortageDetails[@index].AgeAddonal" required />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="TestPortageDetails[@index].AgeGrowth" required />
                                                </td>
                                                <td>
                                        <input type="number" class="form-control" id="@("Mark"+index)" name="TestPortageDetails[@index].Mark" onchange="fillResult(@index)" required />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" id="@("Result"+index)" disapled readonly/>
                                                </td>
                                            </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
                <div style="padding-top:20px">
                    <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
                </div>

            </div>
        </div>
    </div>
</form>



<script>
    function fillResult(index) {

        var mark = document.getElementById('Mark' + index).value;

        var res;
        if (mark <= 25) res= "شديد جداً";
        else if (mark <= 39) res= "شديد";
        else if (mark <= 54) res= "متوسط";
        else if (mark <= 69) res= "بسيط";
        else if (mark <= 84) res= "بسيط جداً";
        else res= "طبيعي";

        document.getElementById('Result' + index).value = res;
    }

</script>