@using Alrazi.ViewModel
@model List<StudentTestReportVM>
@{
    ViewData["Title"] = "عرض تقرير اختبارات الطالب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">عرض تقرير اختبارات الطالب</li>
                </ol>
            </div>
            <h4 class="page-title">عرض تقرير اختبارات الطالب</h4>
        </div>
    </div>
</div>
<!-- end page title -->
@if (Model.Any())
{


    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>اسم الطفل</th>
                                <th>المواليد</th>
                                <th>الزمني بالأشهر</th>
                                <th>العمر الزمني</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                StudentTestReportVM std = Model.First();
                                <tr>
                                    <td>@std.StudentName</td>
                                    <td>@std.BirthDate</td>
                                    <td>@std.AgeInMonths</td>
                                    <td>@std.ChronologicalAge</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>رقم التقييم</th>
                                <th>تاريخ التقييم</th>
                                <th>المجالات</th>
                                <th>القاعدي</th>
                                <th>الاضافي</th>
                                <th> النمائي بالأشهر
                                <th>العمر النمائي</th>
                                <th>نسبة الاداء%</th>
                                <th>نسبة الاداء كتابة</th>
                                <th>الفرق بالأشهر  بين ز - ن</th>
                                <th>الفرق بالسنوات</th>
                                <th>التحقق</th>
                                <th>المجموع</th>
                                <th colspan="2">التصنيف</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int serialNumber = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.CountOfRow == 0)
                                        {
                                            <td>@item.SerialNumber</td>
                                            <td>@item.TestDate</td>
                                        }
                                        else if (serialNumber != item.SerialNumber)
                                        {
                                            <td rowspan="@item.CountOfRow">@item.SerialNumber</td>
                                            <td rowspan="@item.CountOfRow">@item.TestDate</td>
                                        }
                                        else { }

                                        <td>@item.Subject</td>
                                        <td>@item.TheBase</td>
                                        <td>@item.Additional</td>
                                        <td>@item.DevelopmentalAgeOfMounth</td>
                                        <td>@item.DevelopmentalAge</td>
                                        <td>@item.PerformancePercentage</td>
                                        <td>@item.PerformanceDegree</td>
                                        <td>@item.DifferenceInMonths</td>
                                        <td>@item.DifferenceInYear</td>
                                        <td>@item.Verification</td>

                                        @if (item.CountOfRow == 0)
                                        {
                                            <td>@item.TotalMarks</td>
                                            <td>@item.RatingPercentage</td>
                                            <td>@item.RatingDegree</td>
                                        }
                                        else if (serialNumber != item.SerialNumber)
                                        {
                                            serialNumber = item.SerialNumber;
                                            <td rowspan="@item.CountOfRow">@item.TotalMarks</td>
                                            <td rowspan="@item.CountOfRow">@item.RatingPercentage</td>
                                            <td rowspan="@item.CountOfRow">@item.RatingDegree</td>
                                        }
                                        else { }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}