@using Alrazi.Models.Test
@using Alrazi.Tools
@using Alrazi.ViewModel
@model List<TestPortageDetails>
@{
    ViewData["Title"] = "عرض تقرير اختبارات البورتج للطالب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">عرض تقرير اختبارات البورتج للطالب</li>
                </ol>
            </div>
            <h4 class="page-title">عرض تقرير اختبارات البورتج للطالب</h4>
        </div>
    </div>
</div>
<!-- end page title -->
@if (Model.Any())
{

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>اسم الطفل</th>
                                <th>المواليد</th>
                                <th>العمر الزمني</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var stdInfo = Model.First().TestPortage.Student;
                                <tr>
                                    <td>@stdInfo.FullName</td>
                                    <td>@stdInfo.BirthDate.ToShortDateString()</td>
                                    <td>@(new Birthday(stdInfo.BirthDate, DateTime.Now))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>رقم التقييم</th>
                                <th>تاريخ التقييم</th>
                                <th colspan="6"></th>
                                <th colspan="2" style="text-align:center">المحصلة</th>
                                <th> خيارات</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int serialNum = -1;

                                foreach (var item in Model)
                                {
                                    if (serialNum != item.TestPortage.SerialNumber)
                                    {
                                        serialNum = item.TestPortage.SerialNumber;

                                        <tr class="expand-header" data-group="@serialNum">

                                            <td>@item.TestPortage.SerialNumber</td>
                                            <td>@item.TestPortage.TestDate.ToShortDateString()</td>
                                            <td colspan="6"></td>
                                            @{
                                                double sumMark = item.TestPortage.TestPortageDetails.Average(x => x.Mark);
                                                <td>@sumMark</td>
                                                <td>@TestManager.GetTestPortageResault(sumMark)</td>
                                                <td>
                                                    <a href="~/Test/GetTestPortgeReport?testId=@item.TestPortageId" class="action-icon"> <i class="mdi mdi-printer"></i></a>
                                                    <a href="~/Test/EditTestPortage?testId=@item.TestPortageId" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                                </td>
                                            }
                                        </tr>

                                        <tr class="hidden-row" data-group="@serialNum">
                                            <th colspan="2"></th>
                                            <th>المجالات</th>
                                            <th>القاعدي</th>
                                            <th>الاضافي</th>
                                            <th>النمائي</th>
                                            <th>الدرجة</th>
                                            <th>التصنيف</th>
                                            <th colspan="3"></th>
                                        </tr>
                                    }
                                    <tr class="hidden-row" data-group="@serialNum">
                                        <td colspan="2"></td>
                                        <td>@TestManager.GetTestPortageSubjectArabic(item.TestPortageSubject)</td>
                                        <td>@item.AgeTheBase</td>
                                        <td>@item.AgeAddonal</td>
                                        <td>@item.AgeGrowth</td>
                                        <td>@item.Mark</td>
                                        <td>@item.Grade</td>
                                        <td colspan="3"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}



<style>
    .hidden-row {
        display: none;
    }

    .expand-header {
        border-top: 2px solid #333;
        background-color: #f9f9f9; /* لون خلفية مميز */
    }
    .expanded {
        display: table-row;
    }

    tr:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }


</style>


<script>
    // استهداف الترويسات
    document.querySelectorAll('.expand-header').forEach(headerRow => {
        headerRow.addEventListener('click', function () {
            const group = this.dataset.group; // تحديد المجموعة المرتبطة
            const detailRows = document.querySelectorAll(`.hidden-row[data-group="${group}"]`);
            detailRows.forEach(row => {
                row.classList.toggle('expanded'); // إظهار أو إخفاء الصفوف
            });
        });
    });
</script>