@using Alrazi.Models.Test
@using Alrazi.Tools
@using Alrazi.ViewModel
@model TestPortage
@{
    ViewData["Title"] = "نتائج تقييم البورتج";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>if (confirm("هل ترغب في طباعة الصفحة ؟")) { print(); }</script>

<center><h4>نتائج تقييم البورتج</h4> </center>

<div class="row">

    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">اسم الطفل</label>
            <input type="text" class="form-control" value="@Model.Student.FullName" readonly>
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">الجنس</label>
            <input type="text" class="form-control" value="@Model.Student.Gender" readonly>
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <label for="name" class="form-label">تاريخ المقابلة</label>
            <input type="date" id="TestDate" class="form-control" value="@Model.TestDate.ToString("yyyy-MM-dd")" readonly>
        </div>
    </div>
    <div class="col-1">
        <div class="mb-3">
            <label for="name" class="form-label">رقم الاختبار</label>
            <label inputclass="form-label">@Model.SerialNumber</label>
        </div>
    </div>

    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">تاريخ الميلاد</label>
            <input type="date" id="BirthDate" class="form-control" value="@Model.Student.BirthDate.ToString("yyyy-MM-dd")" readonly>
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">العمر الزمني</label>
            <input type="text" id="AgeTimeDate" class="form-control" readonly>
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">مرفق بالاختبار</label>
            <input type="text" class="form-control" value="@Model.Attendant" readonly>
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">الفاحص</label>
            <input type="text" class="form-control" value="@Model.Examiner" readonly>
        </div>
    </div>

    <div class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">نسبة الأداء</label>
            <input type="text" class="form-control" value="@Model.TestPortageDetails.Average(x=>x.Mark)" readonly>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-centered mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th colspan="2" style="text-align:center">العمر النمائي</th>
                            <th rowspan="2">نسبة الأداء</th>
                            <th rowspan="2">مستوى الأداء</th>
                            <th rowspan="2">المجالات</th>
                            <th rowspan="2">الفرق بين العمر الزمني والنمائي</th>
                        </tr>
                        <tr>
                            <th>الأشهر</th>
                            <th>السنوات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TestPortageDetails)
                        {
                            <tr>
                                <td>@item.AgeGrowthMonth</td>
                                <td>@item.AgeGrowthYear</td>
                                <td>@item.Mark</td>
                                <td>@item.Grade</td>
                                <td>@TestManager.GetTestPortageSubjectArabic(item.TestPortageSubject)</td>

                                @{
                                    //todo check calc
                                    var temp = (
                                    (new Birthday(Model.Student.BirthDate, Model.TestDate).TotalMonth)
                                    - ((int.Parse(item.AgeGrowthYear) * 12) + int.Parse(item.AgeGrowthMonth))
                                    ) / 12;
                                    <td>@temp</td>
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
                        <div class="card-body">
                            @{
                                var Social = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Social);
                                var Knowledge = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Knowledge);
                                var Communication = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Communication);
                                var Care = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Care);
                                var Movement = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Movement);
                                <p>
                                    <b>العمر الاجتماعي</b><br />
                                    يحدد مستوى أداء الطفل على المهارات الاجتماعية كالتفاعل مع الآخرين من أقارب وأصدقاء، وكذلك حسن التصرف في المواقف الاجتماعية التي يواجهها الطفل.
                                    <br />
                                    العمر الاجتماعي للطفل: @Social.AgeGrowthYear سنوات   و @Social.AgeGrowthMonth شهر.
                                    &emsp;
                                    نسبة الأداء: (@Social.Mark%)
                                    &emsp;
                                    مستوى الأداء: @Social.Grade
                                    <br />
                                    أي يوجد لدى الطفل @Social.Grade في البعد الاجتماعي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.

                                    <br /><b>العمر المعرفي</b><br />
                                    يحدد مستوى أداء الطفل على المهارات المعرفية الخاصة بمرحلة ما قبل المدرسة وفي المرحلة الأساسية الأولى مثل الإشارة إلى الألوان وتسمية الصور ومطابقة الأشكال الهندسية.
                                    <br />
                                    العمر المعرفي للطفل: @Knowledge.AgeGrowthYear سنوات   و @Knowledge.AgeGrowthMonth شهر
                                    &emsp;
                                    نسبة الأداء: (@Knowledge.Mark%)
                                    &emsp;
                                    مستوى الأداء: @Knowledge.Grade
                                    <br />
                                    أي يوجد لدى الطفل @Knowledge.Grade في البعد المعرفي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.

                                    <br /><b>العمر الاتصالي</b><br />
                                    يحدد مستوى أداء الطفل في المهارات التواصلية من لغة استقبالية وتعبيرية.
                                    <br />
                                    العمر الاتصالي للطفل: @Communication.AgeGrowthYear سنوات   و @Communication.AgeGrowthMonth شهر.
                                    &emsp;
                                    نسبة الأداء: (@Communication.Mark%)
                                    &emsp;
                                    مستوى الأداء: @Communication.Grade .
                                    <br />
                                    أي لدى الطفل  @Communication.Grade  في البعد الاتصالي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.

                                    <br /><b>العمر في العناية بالذات</b><br />
                                    يحدد مستوى أداء الطفل على مهارات العناية الذاتية مثل تحمل الطفل للمسؤولية واعتماده على نفسه في المأكل، الملبس، وقضاء حاجاته الخاصة.
                                    <br />
                                    العمر في العناية بالذات للطفل: @Care.AgeGrowthYear سنوات   و @Care.AgeGrowthMonth شهر.
                                    &emsp;
                                    نسبة الأداء: (@Care.Mark%)
                                    &emsp;
                                    مستوى الأداء: @Care.Grade
                                    <br />
                                    أي يوجد لدى الطفل @Care.Grade في بُعد العناية الذاتية مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.

                                    <br /><b>العمر الحركي</b><br />
                                    يحدد مستوى أداء الطفل على المهارات الحركية الكبيرة مثل المشي والقفز، والمهارات الحركية الدقيقة كاستعمال المقص أو العمل بالمعجون.
                                    <br />
                                    العمر الحركي للطفل: @Movement.AgeGrowthYear سنوات   و @Movement.AgeGrowthMonth شهر.
                                    &emsp;
                                    نسبة الأداء: (@Movement.Mark%)
                                    &emsp;
                                    مستوى الأداء: @Movement.Grade
                                    <br />
                                    أي يوجد لدى الطفل @Movement.Grade في البُعد الحركي مقارنةً بأداء الأطفال الذين هم في نفس العمر الزمني.

                                </p>
                                    <form method="post">

                                        <input type="hidden" name="id" value="@Model.Id" />

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">خلاصة</label>
                                                <textarea type="text" name="Summary" class="form-control">@Model.Summary</textarea>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">توصيات</label>
                                                <textarea type="text" name="Recommendations" class="form-control">@Model.Recommendations</textarea>
                                            </div>
                                        </div>

                                        <div style="padding-top:20px">
                                            <button type="submit" class="btn btn-primary">حفظ وطباعة</button>
                                        </div>
                                    </form>

                            }
                        </div>
            </<div>
            </div>
        </div>
    </div>
</div>


<script>

    window.onload = onloadpage;

    function onloadpage() {
        var birthDate = $("#BirthDate").val();
        var studyStateDate = $("#TestDate").val();
        if (birthDate == '' || studyStateDate == '') {
            $("#AgeTimeDate").val('');
            return;
        }

        const birthdate = new Date(birthDate);
        const currentDate = new Date(studyStateDate);

        let ageYears = currentDate.getFullYear() - birthdate.getFullYear();
        let ageMonths = currentDate.getMonth() - birthdate.getMonth();
        let ageDays = currentDate.getDate() - birthdate.getDate();

        if (ageDays < 0) {
            ageMonths--;
            ageDays += new Date(currentDate.getFullYear(), currentDate.getMonth(), 0).getDate();
        }

        if (ageMonths < 0) {
            ageYears--;
            ageMonths += 12;
        }

        var str = `السنة : ${ageYears} - الشهر : ${ageMonths} - اليوم ${ageDays}`;
        $("#AgeTimeDate").val(str);
    }
</script>