@using Alrazi.Models.Test
@using Alrazi.Tools
@model TestStanfordBinet
@{
    ViewData["Title"] = "تقرير ستانفورد بينيه للذكاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>if (confirm("هل ترغب في طباعة الصفحة ؟")) {  print() ; }</script>

<center><h4>تقرير ستانفورد بينيه للذكاء</h4> </center>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-centered mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>الدرجة</th>
                            <th>الدرجة المعيارية</th>
                            <th>الفئة التصنيفية</th>
                            <th>الرتبة المئينية</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TestStanfordBinetDetails)
                        {
                            <tr>
                                <td>@TestManager.GetTestStanfordBinetSubjectArabic(item.TestStanfordBinetSubject)</td>
                                <td>@item.Mark</td>
                                <td>@item.Grade</td>
                                <td>@item.PercentileRank</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @{
                    // var Social = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Social);
                    // var Knowledge = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Knowledge);
                    // var Communication = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Communication);
                    // var Care = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Care);
                    // var Movement = @Model.TestPortageDetails.First(x => x.TestPortageSubject == Alrazi.Enums.Test.TestPortageSubject.Movement);
                    <p>
                        حصل الطفل() على نسبة ذكاء كلية()  ويتضح من خلال هذه الدرجة أن ذكاء المفحوص العام يقع ضمن فئة() و يمكن أن يتراوح المدى الفعلي لهذه الدرجة بين()  و ذلك بنسبة ثقة 95 % و قد يرجع الاختلاف المتوقع إلى عدة عوامل ،منها تعاون المفحوص و التهيؤ النفسي، و الحالة الصحية ، والاهتمام بالاختبار، و الظروف البيئية أثناء تطبيق الاختبار، و اختلاف تركيز االمفحوص و غيرها من العوامل التي قد تؤثر على الأداء.
                        نسبة الذكاء غير اللفظي Nonverbal IQ :
                        حصل الطفل() على نسبة ذكاء غير لفظي() ومن خلال  هذه الدرجة يتضح ان ذكاء المفحوص غير اللفظي يقع ضمن فئة()  مما يدل على قدرة() للمفحوص في مهارة حل المشكلات المجردة، تذكر الحقائق والأشكال، حل المشكلات الكمية المقدمة في شكل صور، تجميع التصميمات، تذكر تسلسل الطرقات، تذكر المعلومات المقدمة في شكل صور، أرقام ورموز في مقابل المعلومات المقدمة في شكل كلمات وجمل مطبوعة أو منطوقة.

                        نسبة الذكاء اللفظي Verbal IQ:
                        حصل الطفل() على نسبة ذكاء لفظية()  ومن خلال هذه الدرجة يتضح ان الذكاء اللفظي للمفحوص يقع ضمن فئة() مما يدل على قدرة() في القدرة العامة للاستدلال، حل المشكلات ، التصور واستدعاء المعلومات المهمة المقدمة في كلمات وجمل(مطبوعة أو منطوقة) .
                        تفسير درجات المؤشرات العاملية:
                        _ الاستدلال التحليلي fluid Reasoning
                        حصل المفحوص على درجة معيارية()  ومن خلال الدرجة يتضح أن قدرات المفحوص في الاستدلال التحليلي(قدرة وراثية Fluid Intelligence) تقع ضمن فئة()  مما يدل على قدرة() لدى المفحوص على حل المشكلات اللفظية وغير اللفظية باستخدام الاستدلال الاستقرائي أو الاستدلال الاستنباطي، وفي تحديد القواعد الأساسية و العلاقات بين أجزاء المعلومات(مثل الموضوعات البصرية) غير المألوفة للفرد، وفي قدرته على الاستدلال بشكل استقرائي(كما في المصفوفات أو أنشطة التشابه اللفظي) وفي قدرته على الاستدلال من الجزء إلى الكل أو من الخاص إلى العام أو من حالة فردية إلى قاعدة عامة . وفي قدرته على الاستدلال على نتيجة أو معنى متضمن أو مثال محدد. وكذلك في قدرته على فحص صور تصف أنشطة إنسانية واستنتاج المشكلة الأساسية أو الموقف من خلال سرد قصة.
                        _ المعرفة Knowledge:
                        حصل المفحوص على درجة معيارية()  ومن خلال الدرجة يتضح أن قدرة المفحوص في مجال المعلومات(قدرة مكتسبة من الخبرة والتعلم Crystallized Intelligence )  تقع ضمن فئة() مما يدل على مستوى() في القدرة العقلية المتبلورة، وهي المخزون التراكمي من المعلومات العامة المكتسبة من البيت، المدرسة أو العمل، مثل المفردات، والتي اكتسبت وخزنت على مدار حياة الفرد في الذاكرة طويلة المدى.
                        _ الاستدلال الكمي Quantitative Reasoning:
                        حصل المفحوص على درجة معيارية()  ومن خلال الدرجة يتضح أن قدرة المفحوص في هذا المجال(الذي يعكس المرونة العقلية للمفحوص وقدرته على تصحيح الأخطاء وتجربة حلول مختلفة) تقع ضمن فئة() مما يدل على أن قدرته() في التعامل مع الأرقام وحل المشكلات العددية بصرف النظر عن نمط المشكلة وما إذا كانت تأخذ صورة كلامية أو تعتمد على العلاقات المصورة.وحل المشكلات في المواقف العملية أكثر من التركيز على معرفة قواعد الرياضيات كما يتم اكتسابها من خلال التعليم .
                        _ المعالجة البصرية المكانية Visual - Spatial processing:
                        حصل المفحوص على درجة معيارية()    ومن خلال الدرجة يتضح أن قدرة المفحوص في هذا المجال(الذي يعد مؤشرا على الإدراك البصري والتحليل والتركيب للأنماط البصرية المختلفة والتنبه العقلي والقدرة على التوافق أو التكيف) يقع ضمن فئة() مما يدل أن لديه قدرة() على رؤية الأنماط، أو العلاقات، أو الاتجاهات المكانية، أو الشكل الكلي بين أجزاء متنوعة من المعلومات المعروضة بصريا.
                        _ الذاكرة العاملة Working Memory:
                        حصل المفحوص على درجة معيارية()  ومن خلال هذه الدرجة يتضح أن قدرة المفحوص في هذا المجال تقع ضمن فئة() مما يدل على أن قدرته() في فحص وتخزين وتحويل المعلومات المتنوعة المخزنة في الذاكرة قصيرة المدى.ومن مهام الذاكرة العاملة تصنيف معطيات الحواس والاستدعاء الانتقائي للمعاني والرموز لاستثمارها في الاستجابة للمواقف الخارجية، وبالتالي تعد من أهم عناصر التوافق مع البيئة الخارجية.يتأثر الأداء على اختبارات الذاكرة العاملة بالمشكلات العصبية التي قد يعاني منها المفحوص أو من مشكلات الانتباه أو من بعض الصعوبات اللغوية التعبيرية أو من مدى الذاكرة قصيرة المدى.

                    </p>
                }
            </div>
            </<div>
            </div>
        </div>
    </div>
</div>