@using Alrazi.Enums.Test
@using Alrazi.Models.Test
@using Alrazi.Tools
@using Alrazi.ViewModel
@model List<TestPortage>
@{
    ViewData["Title"] = "عرض اختبار بورتج قائمة الشطب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">عرض اختبار بورتج قائمة الشطب</li>
                </ol>
            </div>
            <h4 class="page-title">عرض اختبار بورتج قائمة الشطب</h4>
        </div>
    </div>
</div>
<!-- end page title -->
@if (@Model.Any())
{

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">اسم الطفل</label>
                <input type="text" class="form-control" value="@Model.FirstOrDefault()?.Student.FullName" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">تاريخ الميلاد</label>
                <input id="BirthDate" class="form-control" value="@Model.FirstOrDefault()?.Student.BirthDate.ToString("yyyy-MM-dd")" readonly>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="form-label">الجنس</label>
                <input type="text" class="form-control" value="@Model.FirstOrDefault()?.Student.Gender" readonly>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-4">
            لم يتم إضافة قائمة شطب للطالب
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">

            <table class="table table-centered mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>رقم الصورة الجانبية</th>
                        <th>رقم قائمة الشطب</th>
                        <th>تاريخ المقابلة</th>
                        <th>العمر الزمني</th>
                        <th>القائم بالاختبار</th>
                        <th>نسبة الأداء</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _model in Model)
                    {
                        int serialNum = 0;
                        @foreach (var item in _model.TestPortageSkills)
                        {
                            double[] sumval = new double[5];
                            sumval[0] = @item.TestPortageSkillDetalis.Where(x => x.TestPortage_Skill >= TestPortage_Skill.Social_InteractWithOthers && x.TestPortage_Skill <= TestPortage_Skill.Social_InteractWithGames).Sum(x => x.Mark);
                            sumval[1] = @item.TestPortageSkillDetalis.Where(x => x.TestPortage_Skill >= TestPortage_Skill.Knowledge_SensorySkills && x.TestPortage_Skill <= TestPortage_Skill.Knowledge_ExploreAndThink).Sum(x => x.Mark);
                            sumval[2] = @item.TestPortageSkillDetalis.Where(x => x.TestPortage_Skill >= TestPortage_Skill.Communication_CommunicationAndLanguage && x.TestPortage_Skill <= TestPortage_Skill.Communication_EarlyReading).Sum(x => x.Mark);
                            sumval[3] = @item.TestPortageSkillDetalis.Where(x => x.TestPortage_Skill >= TestPortage_Skill.Care_Nutrition && x.TestPortage_Skill <= TestPortage_Skill.Care_GettingDressed).Sum(x => x.Mark);
                            sumval[4] = @item.TestPortageSkillDetalis.Where(x => x.TestPortage_Skill >= TestPortage_Skill.Movement_MajourSkills && x.TestPortage_Skill <= TestPortage_Skill.Movement_PreWriting).Sum(x => x.Mark);
                            
                            <tr class="expand-header" data-group="@(++serialNum)">
                                <td>@item.TestPortage.SerialNumber</td>
                                <td>@item.SerialNumber</td>
                                <td>@item.TestDateSkill.ToShortDateString()</td>
                                <td>@(new Birthday(Model.First().Student.BirthDate, item.TestDateSkill))</td>
                                <td>@Model.First()?.Examiner</td>
                                <td>@sumval.Average()</td>
                            </tr>

                            <tr class="hidden-row" data-group="@serialNum">
                                <th colspan="2">المجالات</th>
                                <th>الخام</th>
                                <th>العلامة</th>
                                <th colspan="2">المجموع</th>
                            </tr>

                            <tr class="hidden-row" data-group="@serialNum">
                                <td rowspan="3">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Social)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Social_InteractWithOthers)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Social_InteractWithOthers)?.Mark
                                </td>
                                <td rowspan="3" >
                                    @sumval[0]
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Social_Emotionalskills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Social_Emotionalskills)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Social_InteractWithGames)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Social_InteractWithGames)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td rowspan="2">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Knowledge)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Knowledge_SensorySkills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Knowledge_SensorySkills)?.Mark
                                </td>
                                <td rowspan="2">
                                    @sumval[1]
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Knowledge_ExploreAndThink)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Knowledge_ExploreAndThink)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td rowspan="2">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Communication)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Communication_CommunicationAndLanguage)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Communication_CommunicationAndLanguage)?.Mark
                                </td>
                                <td rowspan="2">
                                    @sumval[2]
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Communication_EarlyReading)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Communication_EarlyReading)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td rowspan="3">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Care)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Care_Nutrition)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Care_Nutrition)?.Mark
                                </td>
                                <td rowspan="3">
                                    @sumval[3]
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Care_Cleanliness)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Care_Cleanliness)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Care_GettingDressed)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Care_GettingDressed)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td rowspan="3">
                                    @TestManager.GetTestPortageSubjectArabic(TestPortageSubject.Movement)
                                </td>
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Movement_MajourSkills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Movement_MajourSkills)?.Mark
                                </td>
                                <td rowspan="3">
                                    @sumval[4]
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Movement_MicroSkills)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Movement_MicroSkills)?.Mark
                                </td>
                            </tr>
                            <tr class="hidden-row" data-group="@serialNum">
                                <td>
                                    @TestManager.GetTestPortageSubjectArabic(TestPortage_Skill.Movement_PreWriting)
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    @item.TestPortageSkillDetalis.FirstOrDefault(x => x.TestPortage_Skill == TestPortage_Skill.Movement_PreWriting)?.Mark
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


<style>
    .hidden-row {
        display: none;
    }

    .expand-header {
        border-top: 2px solid #333;
        background-color: #f9f9f9; /* لون خلفية مميز */
    }

    .expanded {
        display: table-row;
    }

    tr:hover {
        cursor: pointer;
        background-color: #f0f0f0;
    }

</style>

<script>

    // استهداف الترويسات
    document.querySelectorAll('.expand-header').forEach(headerRow => {
        headerRow.addEventListener('click', function () {
            const group = this.dataset.group; // تحديد المجموعة المرتبطة
            const detailRows = document.querySelectorAll(`.hidden-row[data-group="${group}"]`);
            detailRows.forEach(row => {
                row.classList.toggle('expanded'); // إظهار أو إخفاء الصفوف
            });
        });
    });


</script> 