@using Alrazi.Models.Test
@using Alrazi.Tools
@using Alrazi.ViewModel
@model List<TestStanfordBinet>
@{
    ViewData["Title"] = "عرض تقرير اختبارات ستانفورد بينيه للطالب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">عرض تقرير اختبارات ستانفورد بينيه للطالب</li>
                </ol>
            </div>
            <h4 class="page-title">عرض تقرير اختبارات ستانفورد بينيه للطالب</h4>
        </div>
    </div>
</div>
<!-- end page title -->
@if (Model.Any())
{


    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>اسم الطفل</th>
                                <th>المواليد</th>
                                <th>العمر الزمني</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var stdInfo = Model.First().Student;
                                <tr>
                                    <td>@stdInfo.FirstName @stdInfo.LastName</td>
                                    <td>@stdInfo.BirthDate.ToShortDateString()</td>
                                    <td>@(new Birthday(stdInfo.BirthDate, DateTime.Now))</td>
                                </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>رقم التقييم</th>
                                <th>تاريخ التقييم</th>
                                <th>الدرجة</th>
                                <th>الدرجة المعيارية</th>
                                <th>الفئة التصنيفية</th>
                                <th>الرتبة المئينية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @foreach (var itemDetails in item.TestStanfordBinetDetails)
                                {
                                    <tr>
                                        <td>@item.SerialNumber</td>
                                        <td>@item.TestDate</td>
                                        <td>@TestManager.GetTestStanfordBinetSubjectArabic(itemDetails.TestStanfordBinetSubject)</td>
                                        <td>@itemDetails.Mark</td>
                                        <td>@itemDetails.Grade</td>
                                        <td>@itemDetails.PercentileRank </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}