@using Alrazi.Enums
@model List<Test>

@{
    ViewData["Title"] = "الاختبارات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="~/Panel">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إدارة الاختبارات</li>
                </ol>
            </div>
            <h4 class="page-title">إدارة الاختبارات</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post">

                    @*  //todo
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                    @if (ViewBag.Done)
                    {
                    <p style="color:green">@ViewBag.Message</p>
                    }
                    else
                    {
                    <p style="color:red">@ViewBag.Message</p>
                    }
                    } *@
                    <div class="mb-3">
                        <label for="name" class="form-label">اسم الاختبار</label>
                        <input type="text" id="name" required name="Title" class="form-control" placeholder="اسم الاختبار">
                    </div>

                    <select required class="form-control" id="StudentType" name="StudentType">
                        <option value="@StudentStatus.Early">تدخل مبكر</option>
                        <option value="@StudentStatus.LearningDifficulties">صعوبات التعلم</option>
                    </select>

                    <div style="padding-top:20px">
                        <button type="submit" class="btn btn-primary">إضافة</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-centered mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>اسم الاختبار</th>
                            <th>نوع الاختبار</th>
                            <th>خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>

                                @if (item.StudentType == StudentStatus.Early)
                                {
                                    <td>تدخل مبكر</td>
                                }
                                else if (item.StudentType == StudentStatus.LearningDifficulties)
                                {
                                    <td>صعوبات تعلم</td>
                                }

                                <td>
                                    <a href="~/Manage-SubjectTest/@item.Id" class="action-icon"> إدارة المجالات <i class="mdi mdi-pencil"></i></a>
                                    <a href="~/Manage-TestResault/@item.Id" class="action-icon"> إدارة النتائج <i class="mdi mdi-pencil"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>